@import './reset';

:root {
  --yellow: #f5df68;
  --yellow-light: #f0eb76;
  --yellow-dark: #d4d160;
  --yellow-bright: #ffdc1f;
  --blue: #6876f5;
  --white: #ffffff;
  --bg-dark: #373737;
  --dark: #313030;
  --black: #000000;
  --black-light: #484848;
  --gary: #797979;
  --gray--light: #969696;
  --gray-dark: #4f4f4f;
  --gray-border: #ececec;
  --pink: #9d447a;
  --pink-dark: #693052;
  --green: #a2f495;
  --gradient: linear-gradient(180deg, var(--yellow-light) 0%, var(--yellow) 100%);
  --shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 4px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.15s ease-in;
  --transition-sm: all 0.1s ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #303030;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 20px;
    border: 1px solid #eee;
  }
}

a {
  cursor: pointer;
}

textarea,
input {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1190px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.default {
  &__title {
    color: var(--black);
    font-weight: 700;
    font-size: 38px;
    line-height: 1.3;
    position: relative;
    z-index: 2;

    &--light {
      color: var(--white);
    }

    &--center {
      text-align: center;
    }

    &-circles {
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.8;
      z-index: -1;

      .one,
      .two,
      .three {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--yellow);
        border-radius: 100%;
        background: transparent;
      }

      .one {
        width: 100px;
        height: 100px;
      }

      .two {
        width: 70px;
        height: 70px;
      }

      .three {
        width: 40px;
        height: 40px;
      }

      @media screen and (max-width: 1280px) {
        & {
          left: -5px;
        }

        .one {
          width: 80px;
          height: 80px;
        }

        .two {
          width: 50px;
          height: 50px;
        }

        .three {
          width: 20px;
          height: 20px;
        }
      }

      @media screen and (max-width: 750px) {
        & {
          display: none;
        }
      }
    }
  }

  &__subtitle {
    color: var(--gary);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;

    &--light {
      color: var(--white);
    }
  }

  &__form {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background: var(--white);

    &-field {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        display: block;
        height: 60px;
        padding: 17px 50px 17px 26px;
        border: 1px solid var(--gray-border);
        box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2),
          -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9),
          inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
        border-radius: 10px;
      }

      svg {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }
    }

    &-text {
      font-size: 12px;
      line-height: 1.8;
      text-align: center;
      color: var(--gary);

      a {
        color: var(--blue);
      }
    }

    &-submit {
      height: 70px;
      padding: 20px 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      border-radius: 40px;
      background: var(--yellow);
      border: none;
      filter: drop-shadow(0px 4px 18px rgba(66, 66, 66, 0.25));
      transition: var(--transition);

      &:hover {
        background: var(--yellow-light);
      }
    }
  }

  @media screen and (max-width: 1150px) {
    &__title {
      font-size: 34px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 1050px) {
    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__form {
      width: 450px;
    }
  }

  @media screen and (max-width: 950px) {
    &__form {
      width: 400px;
      gap: 20px;

      &-field {
        input {
          height: 50px;
          padding: 17px 50px 17px 26px;
          font-size: 14px;
        }
      }

      &-submit {
        height: 50px;
        padding: 18px 50px;
        font-size: 16px;
      }

      &-text {
        font-size: 10px;
        line-height: 2;
      }
    }
  }

  @media screen and (max-width: 750px) {
    &__title {
      font-size: 26px;
    }

    &__subtitle {
      font-size: 16px;
    }

    &__form {
      width: 300px;
    }
  }

  @media screen and (max-width: 450px) {
    &__title {
      font-size: 22px;
    }

    &__subtitle {
      font-size: 14px;
    }
  }
}

// header

.header {
  width: 100%;
  height: 90px;
  padding: 19px 0;
  position: fixed;
  background: var(--white);
  z-index: 100;
  font-size: 16px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-mobile {
      display: none;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left {
    gap: 77px;
  }

  &__right {
    gap: 40px;
  }

  &__logo img {
    width: 117px;
    height: 52px;
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
      gap: 35px;
    }

    a {
      color: var(--black);
      line-height: 1.21;
      position: relative;

      &.active {
        font-weight: 700;
      }

      &::after {
        content: '';
        display: block;
        width: 0px;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background: var(--black);
        transition: var(--transition);
      }

      &:hover {
        &::after {
          width: 100%;
        }

        &.active::after {
          width: 0;
        }
      }
    }
  }

  &__call-me {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 700;
    line-height: 1.25;
    text-decoration-line: underline;
    color: var(--black);
  }

  &__make-order {
    height: 40px;
    padding: 10px 42px;
    border-radius: 40px;
    background: var(--gradient);
    border: none;
    color: var(--dark);
    font-weight: 700;
    line-height: 1.21;
    transition: var(--transition);
    &:hover {
      color: var(--gray-dark);
      box-shadow: var(--shadow);
    }
  }

  &__burger-menu {
    display: none;
  }

  @media screen and (max-width: 1000px) {
    &__left {
      gap: 40px;
    }

    &__right {
      gap: 20px;
    }

    &__menu ul {
      gap: 20px;
    }
  }

  @media screen and (max-width: 890px) {
    & {
      height: 80px;
      padding: 16px 0;
    }

    &__logo img {
      width: 100px;
      height: 46px;
    }

    &__left {
      gap: 20px;
    }

    &__right {
      gap: 10px;
    }

    &__menu ul {
      gap: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    &__wrapper {
      display: none;

      &-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__burger {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: none;
      transition: var(--transition-sm);

      &:hover {
        svg rect {
          fill: var(--gray-dark);
        }
      }

      &-menu {
        display: none;
        transition: var(--transition-sm);

        &.open {
          width: 320px;
          height: 100vh;
          padding: 10px 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: fixed;
          right: 0;
          top: 0;
          background: var(--white);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
          animation: showMobileMenu 0.2s;

          .header__menu {
            margin-bottom: 70px;
            ul {
              flex-direction: column;
              gap: 30px;
            }
          }

          .header__call-me {
            margin-bottom: 40px;
          }
        }

        &.hide {
          animation: hideMobileMenu 0.2s;
        }
      }

      &-top {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;

        .header__logo {
          opacity: 0;
        }
      }

      &-close {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        transition: var(--transition-sm);

        &:hover {
          svg rect {
            fill: var(--gray-dark);
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    & {
      height: 50px;
      padding: 10px 0;
    }

    &__burger-menu.open {
      width: 100%;
    }

    .header__logo {
      opacity: 1;

      img {
        width: 70px;
        height: 30px;
      }
    }
  }
}

// intro
.intro {
  height: 100vh;
  padding-top: 90px;
  background: url(../img/intro-bg.jpg) no-repeat top / cover;

  &__wrapper {
    max-width: 700px;
    margin-top: 164px;
    color: var(--white);
  }

  &__title {
    margin-bottom: 35px;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.44;
  }

  &__desc {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 1.6;
  }

  &__consultation {
    padding: 27px 40px;
    border-radius: 40px;
    background: var(--gradient);
    color: var(--dark);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    transition: var(--transition);
    animation: bounce 2s infinite;
    filter: drop-shadow(0px 4px 18px rgba(255, 255, 255, 0.5));

    &:hover {
      box-shadow: var(--shadow-md);
      color: var(--gray-dark);
    }
  }

  @media screen and (max-width: 1000px) {
    &__wrapper {
      max-width: 630px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 46px;
    }

    &__desc {
      max-width: 600px;
      margin-bottom: 40px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 890px) {
    & {
      padding-top: 80px;
    }

    &__wrapper {
      margin-top: 140px;
      max-width: 500px;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 46px;
    }

    &__desc {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__consultation {
      padding: 25px 35px;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      background: url(../img/intro-bg-mobile.jpg) no-repeat center bottom / cover;
    }

    &__wrapper {
      margin: 170px auto 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  @media screen and (max-width: 500px) {
    & {
      padding-top: 50px;
    }

    &__wrapper {
      margin-top: 250px;
    }

    &__title {
      font-size: 26px;
    }

    &__desc {
      font-size: 14px;
    }
  }
}

// about
.about {
  padding-top: 80px;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 160px;
  }

  &__circles {
    position: absolute;
    left: -350px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    &-outer {
      width: 790px;
      height: 790px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background: var(--yellow-light);
      opacity: 0.2;
    }

    &-inner {
      width: 422px;
      height: 422px;
      border-radius: 100%;
      background: var(--yellow-dark);
      opacity: 1;
    }
  }

  &__content {
    max-width: 570px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;

    li {
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 24px;
      line-height: 1.6;
      color: var(--black);

      svg {
        flex-grow: 0;
        flex-shrink: 0;
      }

      span {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  &__image {
    position: relative;

    img {
      width: 344px;
      height: 527px;
    }

    &-price {
      width: 170px;
      height: 170px;
      background: var(--yellow);
      border: 4px solid var(--white);
      border-radius: 100%;
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -30px;
      right: -80px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      letter-spacing: 0.1em;
      text-align: center;
    }
  }

  @media screen and(max-width: 1150px) {
    &__list li {
      font-size: 20px;
      gap: 30px;

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    &__wrapper {
      gap: 60px;
      justify-content: space-between;
    }

    &__circles {
      left: -200px;
      &-outer {
        width: 500px;
        height: 500px;
      }

      &-inner {
        width: 250px;
        height: 250px;
      }
    }

    &__image {
      img {
        width: 280px;
        height: 460px;
      }

      &-price {
        width: 150px;
        height: 150px;
        bottom: -20px;
        right: -50px;
        font-size: 28px;
      }
    }

    &__list li {
      font-size: 16px;
      gap: 20px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    &__wrapper {
      flex-direction: column;
      gap: 50px;
    }

    &__circles {
      left: -250px;
      top: 0;
      transform: translateY(0);
      &-outer {
        width: 500px;
        height: 500px;
      }

      &-inner {
        width: 250px;
        height: 250px;
      }
    }

    &__image {
      img {
        width: 220px;
        height: 340px;
      }

      &-price {
        width: 125px;
        height: 125px;
        top: -35px;
        right: -45px;
        font-size: 28px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__subtitle {
      margin-bottom: 40px;
    }

    &__circles {
      left: -200px;
      top: 0;
      transform: translateY(0);
      &-outer {
        width: 405px;
        height: 405px;
      }

      &-inner {
        width: 200px;
        height: 200px;
      }
    }

    &__list li {
      gap: 15px;
      font-size: 14px;
      font-weight: 700;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    &__image {
      img {
        width: 165px;
        height: 255px;
      }

      &-price {
        width: 105px;
        height: 105px;
        top: -35px;
        right: -45px;
        font-size: 22px;
      }
    }
  }
}

// start

.start {
  padding-top: 100px;

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    margin-bottom: 75px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 70px;

    &:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
    }

    &-image {
      border-radius: 10px;
    }

    h3 {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      gap: 50px;
      font-weight: 700;
      font-size: 100px;
      line-height: 1;
      color: var(--yellow);

      span {
        max-width: 400px;
        width: 100%;
        height: 2px;
        display: block;
        background: var(--yellow);
      }
    }

    p {
      font-size: 20px;
      line-height: 1.5;

      span {
        font-weight: 700;
      }
    }
  }

  @media screen and (max-width: 1230px) {
    &__step {
      gap: 50px;
    }
  }

  @media screen and (max-width: 1150px) {
    &__step {
      &-image {
        width: 520px;
        height: 340px;
      }

      h3 {
        margin-bottom: 25px;
        gap: 40px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 950px) {
    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 50px;
    }

    &__wrapper {
      gap: 30px;
    }

    &__step {
      gap: 30px;

      &-image {
        width: 480px;
        height: 320px;
      }

      h3 {
        margin-bottom: 20px;
        gap: 30px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    &__step {
      gap: 30px;
      flex-direction: column;

      &:nth-child(even) {
        flex-direction: column;
      }

      &-image {
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
      }
    }
  }

  @media screen and (max-width: 550px) {
    &__step {
      gap: 30px;

      &-image {
        width: 420px;
        height: 290px;
      }

      h3 {
        margin-bottom: 20px;
        gap: 30px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__step {
      &-image {
        width: 290px;
        height: 195px;
      }

      h3 {
        margin-bottom: 20px;
        gap: 30px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

// consult form

.consult {
  margin-top: 130px;
  padding: 120px 0;
  background: url('../img/consult-bg.jpg') no-repeat center / cover;
  color: var(--white);

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    max-width: 490px;
    width: 100%;
    z-index: 2;
  }

  &__title {
    margin-bottom: 45px;
    padding-bottom: 45px;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    position: relative;

    &::after {
      content: '';
      width: 135px;
      height: 3px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: var(--yellow-light);
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.5;
  }

  &__form {
    padding: 55px;
    box-shadow: 0px 4px 20px rgba(240, 235, 118, 0.45);
    border-radius: 10px;
    z-index: 2;
  }

  &__circles {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &-one,
    &-two,
    &-three {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid var(--black-light);
    }

    &-one {
      width: 700px;
      height: 700px;
    }

    &-two {
      width: 515px;
      height: 515px;
    }

    &-three {
      width: 300px;
      height: 300px;
    }
  }

  @media screen and (max-width: 1050px) {
    & {
      padding: 80px 0;
    }

    &__text {
      max-width: 420px;
    }

    &__title {
      margin-bottom: 40px;
      padding-bottom: 40px;
      font-size: 44px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__form {
      padding: 40px;
    }

    &__circles {
      &-one {
        width: 600px;
        height: 600px;
      }

      &-two {
        width: 415px;
        height: 415px;
      }

      &-three {
        width: 200px;
        height: 200px;
      }
    }
  }

  @media screen and (max-width: 950px) {
    & {
      padding: 70px 0;
    }

    &__text {
      max-width: 310px;
    }

    &__title {
      margin-bottom: 30px;
      padding-bottom: 30px;
      font-size: 32px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__form {
      padding: 30px;
    }

    &__circles {
      &-one {
        width: 500px;
        height: 500px;
      }

      &-two {
        width: 315px;
        height: 315px;
      }

      &-three {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    & {
      padding: 50px 0;
    }

    &__text {
      max-width: 250px;
    }

    &__title {
      margin-bottom: 20px;
      padding-bottom: 20px;
      font-size: 22px;

      &::after {
        width: 100px;
      }
    }

    &__subtitle {
      font-size: 16px;
    }

    &__form {
      padding: 20px;
    }

    &__circles {
      &-one {
        width: 400px;
        height: 400px;
      }

      &-two {
        width: 215px;
        height: 215px;
      }

      &-three {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    & {
      padding: 50px 0;
    }

    &__wrapper {
      flex-direction: column;
      gap: 40px;
    }

    &__text {
      max-width: 100%;
    }

    &__title {
      margin-bottom: 20px;
      padding-bottom: 20px;
      font-size: 22px;

      &::after {
        width: 100px;
      }
    }

    &__subtitle {
      font-size: 16px;
    }

    &__form {
      padding: 20px;
    }

    &__circles {
      top: 20px;
      transform: translateY(0);
      &-one {
        width: 300px;
        height: 300px;
      }

      &-two {
        width: 215px;
        height: 215px;
      }

      &-three {
        width: 100px;
        height: 100px;
      }
    }
  }
}

// stop

.stop {
  padding: 120px 0;

  &__slider.swiper {
    display: none;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  &__slider-slide,
  &__item {
    display: flex;
    align-items: center;
    gap: 120px;

    &-image {
      filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
      border-radius: 10px;
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    h3 {
      margin-bottom: 30px;
      padding-bottom: 30px;
      position: relative;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.1;

      &::after {
        content: '';
        width: 80px;
        height: 3px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--yellow-light);
      }
    }

    p {
      font-size: 20px;
      line-height: 1.75;
    }
  }

  @media screen and (max-width: 1150px) {
    &__item {
      gap: 60px;
    }
  }

  @media screen and (max-width: 1050px) {
    &__item {
      &-image {
        width: 500px;
        height: 360px;
      }

      h3 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 950px) {
    & {
      padding: 60px 20px;
    }

    &__wrapper {
      gap: 60px;
    }

    &__slider-slide,
    &__item {
      &-image {
        width: 440px;
        height: 320px;
      }

      h3 {
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    &__wrapper {
      gap: 40px;
    }

    &__slider-slide,
    &__item {
      gap: 40px;
      &-image {
        width: 380px;
        height: 260px;
      }

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    &__wrapper {
      display: none;
    }

    &__slider.swiper,
    &__slider {
      display: block;
      max-width: 730px;
      width: 100%;

      &-wrapper {
        max-width: 730px;
        width: 100%;
        padding-bottom: 35px;
      }

      &-bullet.swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        background: transparent;
        border: 1px solid var(--gary);
        opacity: 1;
        border-radius: 100%;

        &.swiper-pagination-bullet-active {
          width: 35px;
          border-radius: 5px;
          border-color: var(--yellow);
          background: var(--yellow);
        }
      }

      &-prev {
        left: -20px;
      }

      &-next {
        right: -20px;
      }

      &-prev,
      &-next {
        width: 60px;
        height: 60px;
        background: var(--white);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: var(--transition);
        z-index: 12;
        position: absolute;
        top: 30%;

        svg {
          width: 24px;
          height: 24px;
        }

        &:hover {
          background: var(--yellow);

          svg path {
            fill: var(--white);
          }
        }
      }

      &-slide {
        .stop__item-image {
          width: 100%;
          height: auto;
          margin-bottom: 40px;
        }

        h3 {
          font-size: 22px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__slider.swiper,
    &__slider {
      &-prev,
      &-next {
        top: 20%;
      }
    }
  }

  @media screen and (max-width: 550px) {
    & {
      padding: 60px 0;
    }
  }

  @media screen and (max-width: 450px) {
    &__slider.swiper,
    &__slider {
      &-prev {
        left: -10px;
      }

      &-next {
        right: -10px;
      }

      &-prev,
      &-next {
        width: 35px;
        height: 35px;
        top: 25%;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 390px) {
    &__slider.swiper,
    &__slider {
      &-prev,
      &-next {
        top: 20%;
      }
    }
  }
}

// progress
.progress {
  padding-top: 55px;
  background: linear-gradient(117.75deg, #c584a9 10.86%, #b270c2 102.88%, #fd01a9 102.89%);
  position: relative;

  &__circles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    z-index: 0;

    &-one,
    &-two,
    &-three {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--white);
      border-radius: 100%;
      background: transparent;
      z-index: -1;
    }

    &-one {
      width: 700px;
      height: 700px;
    }

    &-two {
      width: 500px;
      height: 500px;
    }

    &-three {
      width: 300px;
      height: 300px;
    }
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    z-index: 1;

    &-controls {
      width: 265px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 50px;

      .line {
        display: none;
      }

      button {
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: var(--white);
        color: var(--black);
        font-size: 18px;
        line-height: 1.5;
        text-transform: uppercase;
        border: none;
        z-index: 10;

        &:nth-child(even) {
          align-self: flex-start;
        }

        span {
          font-weight: 700;
          font-size: 72px;
          line-height: 1;
        }

        &.active {
          background: var(--yellow-bright);
          position: relative;

          &::before {
            content: '';
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--white);
            border-radius: 100%;
            opacity: 0.2;
            z-index: -1;
            animation: cycleScale 0.5s;
          }

          &::after {
            content: '';
            width: 260px;
            height: 260px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--white);
            border-radius: 100%;
            opacity: 0.2;
            z-index: -1;
            animation: cycleScale 0.5s;
          }
        }
      }
    }

    &-content {
      max-width: 700px;
      display: flex;
      gap: 25px;
      align-items: flex-start;

      p {
        margin-top: 230px;
        display: flex;
        align-items: center;
        gap: 30px;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.2;
        color: var(--white);
        position: relative;
        animation: tabText 1s;
      }

      img {
        position: relative;
        height: 690px;
        width: 240px;
        animation: tabImage 0.5s;
        z-index: 1;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    &__tabs-controls {
      width: 205px;
      button {
        width: 100px;
        height: 100px;

        span {
          font-size: 50px;
        }

        &.active {
          &::before {
            content: '';
            width: 150px;
            height: 150px;
          }

          &::after {
            content: '';
            width: 200px;
            height: 200px;
          }
        }
      }
    }

    &__tabs-content {
      max-width: 600px;

      p {
        margin-top: 200px;
        gap: 20px;
        font-size: 20px;
      }

      img {
        height: 590px;
        width: 200px;
      }
    }

    &__circles {
      &-one {
        width: 600px;
        height: 600px;
      }

      &-two {
        width: 400px;
        height: 400px;
      }

      &-three {
        width: 200px;
        height: 200px;
      }
    }
  }

  @media screen and (max-width: 950px) {
    &__tabs-controls {
      width: 160px;
      gap: 30px;
      button {
        width: 80px;
        height: 80px;
        font-size: 16px;

        span {
          font-size: 32px;
        }

        &.active {
          &::before {
            content: '';
            width: 120px;
            height: 120px;
          }

          &::after {
            content: '';
            width: 160px;
            height: 160px;
          }
        }
      }
    }

    &__tabs-content {
      max-width: 500px;
      gap: 20px;

      p {
        margin-top: 120px;
        gap: 15px;
        font-size: 18px;
      }

      img {
        height: 490px;
        width: 160px;
      }
    }

    &__circles {
      &-one {
        width: 500px;
        height: 500px;
      }

      &-two {
        width: 300px;
        height: 300px;
      }

      &-three {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    & {
      max-height: 800px;
      height: 100vh;
    }

    &__circles {
      display: none;
    }

    &__tabs {
      margin-top: 20px;
      flex-direction: column;

      &-controls {
        width: auto;
        margin: 0 auto 20px auto;
        gap: 60px;
        flex-direction: row;
        position: relative;

        .line {
          width: 300px;
          height: 2px;
          background: linear-gradient(90deg, var(--yellow) 8.52%, var(--white) 106.87%);
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        button::before,
        button::after {
          display: none;
        }
      }

      &-content {
        width: 100%;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        p {
          width: 300px;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          font-size: 16px;
          gap: 15px;
          animation: opacity 1.2s;

          svg {
            width: 40px;
            height: 40px;
          }
        }

        img {
          height: 70vh;
          width: auto;
          animation: opacity 1s;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    &__tabs-controls {
      width: 300px;

      button {
        width: 60px;
        height: 60px;
        font-size: 10px;

        span {
          font-size: 24px;
        }
      }
    }

    &__tabs-content {
      p {
        bottom: 40px;
      }
    }
  }
}

// offer
.offer {
  padding: 80px 0;
  background: url(../img/offer-bg.jpg) no-repeat center / cover;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 75px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 60px;
  }

  &__text img {
    margin-left: 150px;
  }

  &__form {
    width: 500px;
    padding: 55px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);

    &-title {
      padding: 20px 30px;
      background: var(--yellow);
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 1.3;
      border-radius: 10px 10px 0 0;

      span {
        font-size: 34px;
      }
    }
  }

  @media screen and (max-width: 1150px) {
    &__text img {
      margin-left: 50px;
      width: 220px;
      height: auto;
    }

    &__form {
      max-width: 500px;
      width: 100%;
      padding: 30px;

      &-title {
        padding: 15px 30px;
        font-size: 24px;

        span {
          font-size: 28px;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 0;
    }

    &__wrapper {
      flex-direction: column;
      gap: 40px;
    }

    &__text img {
      display: none;
    }

    &__form {
      max-width: 500px;
      width: 100%;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      padding: 40px 0 20px 0;
      background: var(--white);
    }

    &__wrapper {
      gap: 20px;
    }

    &__form {
      &-title {
        font-size: 20px;

        span {
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 350px) {
    &__form {
      &-title {
        font-size: 16px;

        span {
          font-size: 16px;
        }
      }
    }
  }
}

// family
.family {
  padding: 120px 0 200px 0;
  background: url(../img/family-bg.jpg) no-repeat center / cover;

  &__heading {
    max-width: 450px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    margin-bottom: 100px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    p {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.6;
      text-align: center;
      color: var(--white);
      text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and (max-width: 1050px) {
    &__wrapper {
      gap: 10px;
    }

    &__item p {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 950px) {
    &__wrapper {
      gap: 10px;
    }

    &__item {
      gap: 15px;

      img {
        width: 80px;
        height: 80px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 750px) {
    & {
      padding: 60px 0 100px 0;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__subtitle {
      margin-bottom: 40px;
    }

    &__item p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 600px) {
    & {
      padding: 40px 0 60px 0;
    }

    &__wrapper {
      flex-direction: column;
      gap: 20px;
    }

    &__item p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      padding: 40px 0 60px 0;
    }

    &__wrapper {
      flex-direction: column;
      gap: 20px;
    }

    &__item {
      max-width: 300px;
      flex-direction: row;
      align-items: center;

      p {
        text-align: left;
      }

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

// advantage

.advantage {
  padding: 130px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    border-radius: 10px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    max-width: 475px;

    p {
      font-size: 24px;
      line-height: 1.4;
    }
  }

  @media screen and (max-width: 1150px) {
    & img {
      width: 500px;
      height: auto;
    }

    &__text p {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 1050px) {
    & {
      padding: 60px 0;
    }

    &__wrapper {
      gap: 20px;
    }

    & img {
      width: 420px;
      height: auto;
    }

    &__text p {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 950px) {
    &__title {
      margin-bottom: 20px;
    }

    & img {
      width: 320px;
      height: auto;
    }

    &__text p {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 750px) {
    & {
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
      }
    }

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      object-fit: cover;
    }

    &__text {
      z-index: 1;
      color: var(--white);

      .default__title {
        color: var(--white);
      }
    }

    &__text p {
      font-size: 18px;
    }

    &__text p {
      font-size: 16px;
    }
  }
}

// better

.better {
  padding: 115px 0;
  background: url(../img/better-bg.jpg) no-repeat center / cover;

  &__title {
    margin-bottom: 40px;
  }

  &__heading {
    max-width: 500px;
    margin-bottom: 150px;
  }

  &__wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  &__item {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: conic-gradient(var(--yellow-light) 0deg 240deg, var(--pink-dark) 240deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: donutChart 4s infinite;

    &-inner {
      width: 125px;
      height: 125px;
      padding: 20px;
      border-radius: 50%;
      background: var(--pink);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 1.2;
      color: var(--white);
      text-align: center;

      span {
        font-size: 32px;
        line-height: 1;
      }
    }
  }

  @media screen and (max-width: 850px) {
    &__item {
      width: 110px;
      height: 110px;

      &-inner {
        width: 98px;
        height: 98px;
        font-size: 14px;

        span {
          font-size: 24px;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    & {
      padding: 60px 0;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__heading {
      margin-bottom: 80px;
    }

    &__wrapper {
      width: auto;
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      background: url(../img/better-mobile-bg.jpg) no-repeat center / cover;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__heading {
      margin-bottom: 40px;
    }
  }
}

// reviews
.reviews {
  padding: 60px 0 80px 0;
  background: url(../img/reviews-bg.jpg) no-repeat center / cover;

  &__title {
    margin-bottom: 50px;
  }

  &__slider.swiper,
  &__slider {
    position: relative;
    max-width: 710px;
    padding: 0 40px;
    width: 100%;

    &-wrapper {
      padding-bottom: 35px;
    }

    &-bullet.swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      display: inline-block;
      background: transparent;
      border: 1px solid var(--gary);
      opacity: 1;
      border-radius: 100%;

      &.swiper-pagination-bullet-active {
        width: 35px;
        border-radius: 5px;
        border-color: var(--yellow);
        background: var(--yellow);
      }
    }

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }

    &-prev,
    &-next {
      position: absolute;
      top: 40%;
      z-index: 2;

      transition: var(--transition);
      cursor: pointer;

      &:hover svg path {
        fill: var(--white);
      }
    }
  }

  &__item {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-text {
      height: 280px;
      margin-bottom: 30px;
      padding: 30px 50px;
      background: var(--white);
      border-radius: 10px;
      text-align: center;
      line-height: 1.5;
    }

    &-stars {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-author {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--white);
      line-height: 1.3;

      span {
        color: var(--yellow);
      }
    }
  }

  @media screen and (max-width: 750px) {
    & {
      padding: 40px 0 50px;
    }

    &__slider.swiper,
    &__slider {
      padding: 0;
      &-prev,
      &-next {
        display: none;
      }
    }

    &__item-text {
      height: auto;
    }
  }
}

.benefits {
  padding: 80px 0;

  &__title {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: 370px;
    padding: 50px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);

    &-title {
      margin-bottom: 20px;
      padding-bottom: 22px;
      font-weight: 700;
      font-size: 22px;
      line-height: 1.1;
      position: relative;

      img {
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &::after {
        content: '';
        width: 50px;
        height: 3px;
        background: var(--yellow);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &-text {
      line-height: 1.5;
    }
  }

  @media screen and (max-width: 1200px) {
    &__wrapper {
      justify-content: center;
    }
  }

  @media screen and (max-width: 850px) {
    &__item {
      &-title {
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    & {
      padding: 40px 0;
    }

    &__item {
      width: 300px;
      padding: 20px;

      &-title {
        font-size: 18px;
      }

      &-text {
        font-size: 14px;
      }
    }
  }
}

// order
.order {
  padding-bottom: 130px;

  &__title {
    margin-bottom: 50px;
  }

  &__form {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-fields {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }

    &-text {
      max-width: 300px;
      margin-bottom: 35px;
    }

    &-address {
      width: 100%;
      height: 130px;
      padding: 20px;
      display: block;
      border: 1px solid var(--gray-border);
      box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2),
        -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
      border-radius: 10px;
      resize: none;
      font-size: 18px;
      line-height: 1.5;
    }

    .default__form-field {
      max-width: 370px;
    }

    &-kits {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__kit {
    display: flex;
    align-items: center;
    gap: 10px;

    &-controllers {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-increment,
    &-decrement {
      padding: 0;
      border: none;
      background: transparent;

      svg path {
        transition: var(--transition);
      }

      &:hover svg path {
        fill: var(--gray--light);
      }
    }
  }
}

// animations
@keyframes showMobileMenu {
  from {
    opacity: 0;
    right: -320px;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes hideMobileMenu {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 0;
    right: -320px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

@keyframes tabImage {
  from {
    right: -200px;
    opacity: 0;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes tabText {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes cycleScale {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes donutChart {
  1% {
    background: conic-gradient(var(--yellow-light) 0deg 1deg, var(--pink-dark) 1deg 360deg);
  }

  2% {
    background: conic-gradient(var(--yellow-light) 0deg 10deg, var(--pink-dark) 10deg 360deg);
  }

  3% {
    background: conic-gradient(var(--yellow-light) 0deg 20deg, var(--pink-dark) 20deg 360deg);
  }

  4% {
    background: conic-gradient(var(--yellow-light) 0deg 30deg, var(--pink-dark) 30deg 360deg);
  }

  5% {
    background: conic-gradient(var(--yellow-light) 0deg 40deg, var(--pink-dark) 40deg 360deg);
  }

  6% {
    background: conic-gradient(var(--yellow-light) 0deg 50deg, var(--pink-dark) 50deg 360deg);
  }

  7% {
    background: conic-gradient(var(--yellow-light) 0deg 60deg, var(--pink-dark) 60deg 360deg);
  }

  8% {
    background: conic-gradient(var(--yellow-light) 0deg 70deg, var(--pink-dark) 70deg 360deg);
  }

  9% {
    background: conic-gradient(var(--yellow-light) 0deg 80deg, var(--pink-dark) 80deg 360deg);
  }

  10% {
    background: conic-gradient(var(--yellow-light) 0deg 90deg, var(--pink-dark) 90deg 360deg);
  }

  11% {
    background: conic-gradient(var(--yellow-light) 0deg 100deg, var(--pink-dark) 100deg 360deg);
  }

  12% {
    background: conic-gradient(var(--yellow-light) 0deg 110deg, var(--pink-dark) 110deg 360deg);
  }

  13% {
    background: conic-gradient(var(--yellow-light) 0deg 120deg, var(--pink-dark) 120deg 360deg);
  }

  14% {
    background: conic-gradient(var(--yellow-light) 0deg 130deg, var(--pink-dark) 130deg 360deg);
  }

  15% {
    background: conic-gradient(var(--yellow-light) 0deg 140deg, var(--pink-dark) 140deg 360deg);
  }

  16% {
    background: conic-gradient(var(--yellow-light) 0deg 150deg, var(--pink-dark) 70deg 150deg);
  }

  17% {
    background: conic-gradient(var(--yellow-light) 0deg 160deg, var(--pink-dark) 160deg 360deg);
  }

  18% {
    background: conic-gradient(var(--yellow-light) 0deg 170deg, var(--pink-dark) 170deg 360deg);
  }

  19% {
    background: conic-gradient(var(--yellow-light) 0deg 180deg, var(--pink-dark) 180deg 360deg);
  }

  20% {
    background: conic-gradient(var(--yellow-light) 0deg 190deg, var(--pink-dark) 190deg 360deg);
  }

  21% {
    background: conic-gradient(var(--yellow-light) 0deg 200deg, var(--pink-dark) 200deg 360deg);
  }

  22% {
    background: conic-gradient(var(--yellow-light) 0deg 210deg, var(--pink-dark) 210deg 360deg);
  }

  23% {
    background: conic-gradient(var(--yellow-light) 0deg 220deg, var(--pink-dark) 220deg 360deg);
  }

  24% {
    background: conic-gradient(var(--yellow-light) 0deg 230deg, var(--pink-dark) 230deg 360deg);
  }

  25%,
  100% {
    background: conic-gradient(var(--yellow-light) 0deg 240deg, var(--pink-dark) 240deg 360deg);
  }
}
